<% layout('layouts/boilerplate')%>
    <h1 class="text-center">Login</h1>
    <div class="row">
        <div class="col-6 offset-3">
            <form action="/login" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <div class="valid-feedback">Username is validated</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">Password is validated</div>
                </div>
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>